<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<form action="" method="get">
    <div>
        <label for="searched"></label><input placeholder="Search" name="searched" required id="searched" maxlength="11">
        <div>
        <label for="mode"></label><select id="mode" name="mode">
            <option value="1">bakhshi az shomare</option>
            <option value="2">kole shomare</option>
            <option value="3">shoroe shomare</option>
            <option value="4">payane shomare</option>
        </select>
        </div>
    </div>
    <button class="btn btn-info" type="submit">Search</button>
</form>
<table id="div1">
<tr>
    <th>first name : </th>
    <th>last name : </th>
    <th>phone number : </th>
</tr>
{% for obj in page_obj %}
    <tr>
        <th>{{ obj.first_name }}</th>
        <th>{{ obj.last_name }}</th>
        <th>{{ obj.phone_number }}<a href="{% url 'edit' obj.pk %}" >✏</th>
    </tr>
{% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</body>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</html>